<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emts.dao.question.TqChoiceOptionMapper">
    <resultMap id="baseResultMap" type="com.emts.entity.question.TqChoiceOptionEntity">
        <id column="choice_option_id" property="choiceOptionId"/>

        <result column="choice_id" property="choiceId"/>
        <result column="correct" property="correct"/>
        <result column="option_content" property="optionContent"/>
        <result column="attachment_id" property="attachmentId"/>
    </resultMap>

</mapper>
